doctype html
html
    head
        meta(charset='UTF-8')
        link(
        rel='stylesheet',
        href=pageCssSrc
        )
        link(
        href='//fonts.googleapis.com/css?family=Fira+Sans&subset=latin,cyrillic',
        rel='stylesheet'
        )
        title #{pageTitle}
    body
        div.main-wrapper
            header.body-row.page-header
                div.body-row-content.clear
                    div.pane.left
                        div.header-titles-ct
                            h1.header-title #{headerTitle}
                            p.header-subtitle #{headerSubtitle}
                    div.pane.right
                        div.header-img-wrapper
                            img.header-img(
                            src=headerImage.src,
                            alt='Lion of Saint Mark',
                            srcset=headerImage.srcSet
                            )
            div.clear.body-row.page-content
                div.clear.body-row-content
                    section.main-content
                        each articleModel in articles
                            article
                                h3 #{articleModel.title}
                                div!= articleModel.content
                    aside.sidebar
                        div.sidebar-content
                            div
                                i.icon-github
                                span Гитхаб
                            ul.unstyled
                                each sideBarItem in sideBarItems
                                    li.sidebar-listitem
                                        h5 #{sideBarItem.title}
                                        div!= sideBarItem.content
            footer.clear.body-row.page-footer
        script(src=vendorJsSrc)
        script(src=webappJsSrc)


