doctype html
html
    head
        meta(charset='UTF-8')
        link(
        rel='stylesheet',
        href=pageCssSrc
        )
        link(
        href='//fonts.googleapis.com/css?family=Fira+Sans&subset=latin,cyrillic',
        rel='stylesheet'
        )
        title #{pageTitle}
    body
        div.main-wrapper
            header.body-row.page-header
                div.body-row-content.clear
                    div.pane.left
                        div.header-titles-ct
                            h1.header-title
                                span#greeting Здравствуйте.
                                span &nbsp;Меня зовут Максим Гордеев
                            p.header-subtitle
                                span.
                                    и я живу в России со своею семьёй. Я программист, и это ремесло меня радует. Область
                                    моих профессиональных интересов &mdash; это веб-фронтенд:&nbsp;
                                span.mini-bage AngularJS
                                span ,&nbsp;
                                span.mini-bage React
                                span.
                                    &nbsp;и вот это всё. Я большим почтением и любовью отношусь к&nbsp;
                                span.mini-bage JavaScript
                                span.
                                    , в том числе и не только внутри браузеров.
                    div.pane.right
                        div.header-img-wrapper
                            img.header-img(
                            src=headerImage.src,
                            alt='Lion of Saint Mark',
                            srcset=headerImage.srcSet
                            )
            div.clear.body-row.page-content
                div.body-row-content.flex-ct
                    section.main-content
                        include articles/article-0
                        include articles/article-1
                    aside.sidebar
                        div.sidebar-content
                            ul.unstyled
                                li.sidebar-listitem
                                    h4 #{social.title}
                                    ul.unstyled
                                        li
                                            div.soc-line
                                                div.soc-icon.icon-github
                                                div#github-card.soc-ct
                                                    a(href='https://github.com/maxnetish') Гитхаб с полезным и безполезным кодом
                                        each soc in social.items
                                            li.soc-ct
                                                div.soc-line
                                                    div.soc-icon
                                                        i(class=soc.icon)
                                                    div.soc-ct
                                                        a(href=soc.href)
                                                            span!= soc.label
                                                        span!= soc.sublabel
            footer.clear.body-row.page-footer
                div.body-row-content
                    div#footer-widget.footer-widget-ct
        script(src=vendorJsSrc)
        script(src=webappJsSrc)


